<p>sidenav works!</p>
<div class="sidenav">
    <div class="logo-container">
        <i class="perfil bi bi-person-circle"></i>        
        <!--<h1>${decodedToken.nombreAdmin}</h1>--> 
    </div>
    <div class="logo-text">Name</div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a href="/dashboard" class="sidenav-nav-link">
                <i class="sidenav-link-icon bi bi-house-door"></i>
                <span class="sidenav-link-text">
                    Dashboard
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a href="/proveedores" class="sidenav-nav-link">
                <i class="sidenav-link-icon bi bi-person-lines-fill"></i>
                <span class="sidenav-link-text">
                    Proveedores
                </span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a href="/insumos" class="sidenav-nav-link">
                <i class="sidenav-link-icon bi bi-box2"></i>
                <span class="sidenav-link-text">
                    Insumos
                </span>
            </a>
        </li>
    </ul>
    <div class="close">
        <a href="/login"><i class="close bi bi-box-arrow-left"></i></a>
    </div>
</div>