<!-- <p>sidenav works!</p> -->
<div class="sidenav">
  <div class="logo-text1">Brama Hermanos</div>
  <div class="logo-container">
    <i class="perfil bi bi-person-circle"></i>
  </div>
  <div class="logo-text">{{ nameAdmin() }}</div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-house-door"></i>
        <span class="sidenav-link-text" (click)="goToDashboard()">
          Dashboard
        </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-person-lines-fill"></i>
        <span class="sidenav-link-text" (click)="goToProveedor()">
          Proveedores
        </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-box2"></i>
        <span class="sidenav-link-text" (click)="goToInsumo()"> Insumos </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-receipt"></i>
        <span class="sidenav-link-text" (click)="goToPedidos()"> Pedidos </span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-box-arrow-in-up"></i>
        <span class="sidenav-link-text" (click)="goToEntrada()"> Entradas</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link">
        <i class="sidenav-link-icon bi bi-box-arrow-down"></i>
        <span class="sidenav-link-text" (click)="goToSalida()"> Salidas</span>
      </a>
    </li>

    <div class="close">
      <a href="/login" (click)="removeToken()"
        ><i class="close bi bi-box-arrow-left"></i
      ></a>
    </div>
  </ul>
</div>
