.h1{
    text-align: center;
    text-justify: center;
    align-items: center;
    color: white;
}
.logo {
    width: 30%;
    position: relative;
  }

  .inventary-1 {
    color: white;
    font-family: "Arapey";
    font-size: 60px;
  }

  .line-1 {
    width: 570px;
    border-top: 3px solid white;
    padding: 0;
  }

  .inventary-2 {
    color: white;
    font-family: "Arapey";
    font-size: 25px;
  }
.fondo{
    background-color:black;
}