h1{
  margin: 20px;
  text-align: center;
  text-justify: center;
  align-items: center;
  color: black;
}
.row {
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;

  .card {
    //display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.25rem 0.5rem #e6edef;
    align-items: center;

    .card-head {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #edf1f7;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }

    .card-body {
      cursor: pointer;
      padding: 1rem 1.5rem;
    }

    a{
      cursor: pointer;
    }
  }

  .icon{
    width:10rem;
    height:10rem;
  }
}
