h1{
  margin: 20px;
  text-align: center;
  text-justify: center;
  align-items: center;
  color: black;
}
.row {
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;

  .card {
    //display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.25rem 0.5rem #e6edef;
    align-items: center;

    .card-head {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #edf1f7;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }

    .card-body {
      cursor: pointer;
      padding: 1rem 1.5rem;      
    }

    a{
      cursor: pointer;
    }
  }

  .icon{
    width:10rem;
    height:10rem;
  }
}
.table{
  //background-color:white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
}

td:first-child{
  border-top-left-radius: 16px; 
  border-bottom-left-radius: 16px;
}

td:last-child {
  border-bottom-right-radius: 16px; 
  border-top-right-radius: 16px; 
}

th:first-child {
  border-radius: 16px 0 0 16px;
}

th:last-child {
  border-radius: 0 16px 16px 0;
}
.close{
  background-color: transparent;
  color: white;
  border: none;
  width: 2rem;
  font-size:2rem;
}