<div class="container">
  <div>
    <h1>Proveedores</h1>
  </div>
  <br />
  <div class="col">
    <button class="btn btn-primary" (click)="openModal(ModalRegistro, '', $event)">Añadir<svg class="plus"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z" />
      </svg></button>
  </div>
  <br />
  <div class="col-12">
    <table class="table table-active table-striped">
      <thead>
        <tr>
          <th class="p-3" scope="col">Nombre</th>
          <th class="p-3" scope="col">Ruc</th>
          <th class="p-3" scope="col">Teléfono</th>
          <th class="p-3" scope="col">Ciudad</th>
          <th class="p-3" scope="col">Dirección</th>
          <th class="p-3" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of arrayProveedores">
          <td class="p-3">{{proveedor.nombreProveedor}}</td>
          <td class="p-3">{{proveedor.ruc}}</td>
          <td class="p-3">{{proveedor.telefono}}</td>
          <td class="p-3">{{proveedor.ciudad}}</td>
          <td class="p-3">{{proveedor.direccion}}</td>
          <td class="p-3">
            <button class="accion" (click)="modalEdicion(ModalEdicion, proveedor, $event)">
              <svg class="edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z" />
              </svg>
            </button>
            <button class="accion" (click)="modalEliminacion(ModalEliminacion, proveedor, $event)">
              <svg class="del" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #ModalRegistro>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Añadir Proveedor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="proveedorForm">
      <label>Ingrese el nombre:</label>
      <input formControlName="inputName" maxlength="70" minlength="2" class="form-control" placeholder="Nombre">
      <br>
      <label>Ingrese el ruc:</label>
      <input formControlName="inputRuc"  maxlength="20" class="form-control" placeholder="ruc">
      <br>
      <label>Ingrese el telefono:</label>
      <input formControlName="inputTelefono"  maxlength="9" class="form-control" placeholder="telefono">
      <br>
      <label>Ingrese la direccion:</label>
      <input formControlName="inputDirecion" maxlength="70" class="form-control" placeholder="direccion">
      <br>
      <label>Ingrese la ciudad:</label>
      <input formControlName="inputCiudad"  maxlength="100" class="form-control" placeholder="ciudad">
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btnDialogWhite" (click)="enviarFormulario()">
      Guardar
    </button>
    <button type="button" class="btn btn-secondary btnDialogWhite" (click)="modalRef.hide()">
      Salir
    </button>
  </div>
</ng-template>

<ng-template #ModalEdicion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Actualizar Proveedor </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="proveedorForm">
      <label>Ingrese el nombre:</label>
      <input formControlName="inputName" maxlength="70" minlength="2" class="form-control" placeholder="Nombre">
      <br>
      <label>Ingrese el ruc:</label>
      <input formControlName="inputRuc" maxlength="20" class="form-control" placeholder="ruc">
      <br>
      <label>Ingrese el telefono:</label>
      <input formControlName="inputTelefono" maxlength="9" class="form-control" placeholder="telefono">
      <br>
      <label>Ingrese la direccion:</label>
      <input formControlName="inputDirecion" minlength="2"  maxlength="70" class="form-control" placeholder="direccion">
      <br>
      <label>Ingrese la ciudad:</label>
      <input formControlName="inputCiudad" maxlength="100" class="form-control" placeholder="ciudad">
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btnDialogWhite" (click)="editarProveedor()">
      Guardar
    </button>
    <button type="button" class="btn btn-secondary btnDialogWhite" (click)="modalRef.hide()">
      Salir
    </button>
  </div>
</ng-template>

<ng-template #ModalEliminacion>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar Proveedor </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Esta seguro de eliminar al proveedor <strong>{{nameProveedor}}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btnDialogWhite" (click)="modalRef.hide()">
      Salir
    </button>
    <button type="button" class="btn btn-primary btnDialogWhite" (click)="EliminarProveedor()">
      Eliminar
    </button>
  </div>
</ng-template>
