@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

h1{
    margin: 20px;
    text-align: center;
    text-justify: center;
    align-items: center;
    color: black;
  }
.table{
    //background-color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
    .edit{
        fill: rgb(25, 143, 78);
        width: 20px;
        height: 20px;
        margin: 5px;
    }
    .del{
        fill: rgba(187, 9, 9, 0.863); 
        width: 20px;
        height: 20px;
        margin: 5px;
    }  
    
    .view-detail{
        fill: rgba(0, 0, 0, 0.863); 
        width: 30px;
        height: 20px;
        margin: 5px;
    }

    .recibir{
        width: 30px;
        margin:auto;
    }

    .form-switch {
        padding-left: 1em;
    }
    
}

.plus{
    fill: white;
    width: 20px;
    height: 20px;
    margin: 5px;
}

table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; /* correct offset on first border spacing if desired */
}

td:first-child{
    border-top-left-radius: 16px; 
    border-bottom-left-radius: 16px;
}

td:last-child {
    border-bottom-right-radius: 16px; 
    border-top-right-radius: 16px; 
}

th:first-child {
    border-radius: 16px 0 0 16px;
}

th:last-child {
    border-radius: 0 16px 16px 0;
}

.accion{
    outline: none;
    border: none;
    background-color: transparent;
}
.close{
    background-color: transparent;
    color: white;
    border: none;
    width: 2rem;
    font-size:2rem;
}