.login-register {
  //background-image: url(../../../assets/img/1.png);
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.60);

  .leftside {
    width: 1050px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    height: 100%;
    justify-content: center;

    .logo {
      width: 30%;
      position: relative;
    }

    .inventary-1 {
      color: white;
      font-family: "Arapey";
      font-size: 60px;
    }

    .line-1 {
      width: 570px;
      border-top: 3px solid white;
      padding: 0;
    }

    .inventary-2 {
      color: white;
      font-family: "Arapey";
      font-size: 25px;
    }
  }

  .login-overlay {
    position: absolute;
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  .login-box {
    width: 600px;
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    right: 0px;
    height: 100%;
    opacity: 70%;
    font-family: "Arapey";
    background-color: #e7e7e7;

    .login-card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      opacity: 70%;
    background-color: #e7e7e7;

    .form-control{
      font-weight:bold;
    }
      .login-form {
        width: inherit;
        max-width: 400px;
        text-align: center;

        &>* {
          animation: fadeIn 500ms ease-in-out;

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translateY(30px);
            }

            to {
              opacity: 1;
              transform: translateY(0px);
            }
          }


        }

        .d-title {
          font-size: 40px;
          margin-bottom: 32px;
          color: black;
          font-weight: bold;
        }

        .login-logo {
          height: 80px;
        }

        .forgot {
          font-family: "Arapey";
          font-weight: bold;
          font-size: 16px;
          color: black;
          text-decoration: underline;
          text-align: right;
        }

        .inputpass {
          position: relative;
        }

        .inputuser {
          position: relative;
          
          
        }

        .iconuser {
          color: black;
          position: absolute;
          width: 25px;
          height: 25px;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }

        .iconpass {
          color: black;
          position: absolute;
          width: 25px;
          height: 25px;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }


        .login-button {
          background: var(--primary-color);

          &:disabled {
            opacity: 1;
            filter: opacity(0.8);
          }
        }

        .form-group {
          input {
            text-align: center;
          }

          small {
            color: var(--error-color);
          }
        }
      }
    }
  }

  &.login-sidebar {
    padding: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .login-register {
    overflow: hidden;

    &.login-sidebar {
      padding: 10% 0;
      display: flex;
      align-items: center;
    }

    .login-box {
      max-width: 90%;
      border-radius: 10px;
      position: relative;
      height: auto;
    }
  }
}